<!-- <div class="container">
  <nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let periodo of notaAluno.periodos">
            <a class="nav-link"  href="#" aria-current="page" (click)="peridoSelecionado = periodo.periodoId">{{ periodo.nome }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="card" *ngFor="let notas of notaAluno.notas">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        {{notas.nome}}
      </div>
    </div>
    
  </div>
</div> -->

<app-nav-bar [nav]="nav" (action)="pegaEvento($event)"></app-nav-bar>

<div *ngIf="test === 24; else eu">
  <div style="background: pink; color: #000;" >
    o japa e gay
  </div>
</div>
<ng-template #eu>
  <div style="background: green; color: #000;" >
    o japa e o protagonista
  </div>
</ng-template>
